* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    padding:10;
    cursor: url(cursor.png), auto;
}
h1{
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    animation: glow 0.3s ease-in-out infinite alternate-reverse;
}
.center
{
    position: relative;
    overflow: hidden;
}
.center-container{
    height: 75vh;
    display: flex;
    align-items: center;
    color: #fff;
}
.main
{
    position: absolute;
    top: calc(50%-40px);
    width: 100%;
    font-size: 80px;
    margin: 0;
    text-align: center;
    line-height: 1;
    color:#fff;
}
@keyframes glow{
    100%{
        text-shadow: 
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 9px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 45px #fff;
  

    }
    0%{
        text-shadow: 
        0 0 1px #fff,
        0 0 4px #fff,
        0 0 8px #fff,
        0 0 18px #fff,
        0 0 35px #fff,
        0 0 40px #fff;


    }
    }
.glow{
    color: #fff;
    text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 41px #fff,
    0 0 46px #fff;
}

#canvas1
{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #0f111a;
    z-index: -1;
}
.about
{
    padding-top: 50px;
    font-size: 20px;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
    color:rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.top-left{
    position: absolute;

    
}
.top-left a {
    color: #fff;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.two-buttons
{
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
    padding-top: 10px;
    

}
.two-buttons a {
    transition: 0.2s;
    color: #fff;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 10px 45px;
    color: #fff;

}
.pictures
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 40px auto;
    padding-top: 50px;
}
.imageContainer
{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
}

.picture1
{
    transition: .3s;
    width: 740px;
    height: 450px;
    margin-left: 100px;
}
.picture2
{
    transition: .3s;
    width: 740px;
    height: 450px;
    margin-right: 100px;
}
.textContainer
{
    display:flex;
    justify-content: space-between;
    margin: 40px;
}
.textG
{  
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    color: #fff;

}
.textC
{  
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    color: #fff;
}
.return-link
{
    transition: 0.2s;
   color:#fff;
   font-family:'Courier New', Courier, monospace; 
   text-decoration: none; 
   font-size: 25px; 
   padding-top: 25px
}
.aboutText
{
    color:#fff;
    font-family:'Courier New', Courier, monospace; 
    text-decoration: none; 
    font-size: 25px; 
    margin: 50px;
    text-align: center;
    

}
.socials-link
{
    transition: 0.2s;
   color:#fff;
   font-family:'Courier New', Courier, monospace; 
   text-decoration: none; 
   font-size: 25px; 
   font-weight: bold;
   
}

@media only screen and(max-width: 1400px){
    .two-buttons {
        width: 90%;
    }
    .pictures
    {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 40px auto;
    }
    .pictures
    {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 40px auto;
    }
}
@media only screen and(max-width: 1024x){
    .two-buttons {
        width:100%;
    }
    .pictures
    {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
    }
}
@media only screen and(min-width: 768x){
    .two-buttons {
        width:120%;
        justify-content: space-around;
    }
    .two-buttons a{
        font-size: 5px;

    }
    .bottom-right
    {
        visibility: hidden;
    }
    .pictures
    {
    display: flex;
    justify-content:space-around;
    width: 90%;
    margin: 40px auto;

    }
    .picturesP
    {
        visibility: hidden;

    }
    
}
#first-link:hover
{
    cursor: url(1.png), auto;
    font-size: 22px;
}
#second-link:hover
{
    cursor: url(1.png), auto;
    font-size: 22px;
}
#third-link:hover
{
    cursor: url(1.png), auto;
    font-size: 22px;
}
.picture1:hover{
    width: 755px;
    height: 465px;
}
.picture2:hover{
    width: 755px;
    height: 465px;
}
.return-link:hover{
    font-size: 27px;
}
.socials-link:hover{
    font-size: 27px;
}